@model List<Product>
@{
    ViewData["Title"] = "Index";

}

 <section id="products">
            <div class="container">
                <div id="products-list" class="row">
                    <input id="product-count" type="hidden" value="@ViewBag.productCount" />
                   @await Component.InvokeAsync("Product",4);
                   
                </div>
                
                     <div class="row d-flex justify-content-center text-center align-items-center">
                         <button id="loadMore" class="btn btn-outline-primary mx-4 my-5">Load More</button>
                    </div>
           
            </div>
        </section>
